/* 
    Created on : 2015-11-11, 14:17:20
    Author     : weisen.zhang
    独立出基本样式表（头部，尾部）
*/
@charset"utf-8";
#header{
    width: auto;
    height:150px;
    border:2px solid #ccc;
    margin: 10px 0;
}
#header img{
    margin:40px 0 0 50px;
}
#header ul{
    text-align: right;
    padding: 30px 50px 0 0;
}
#header ul li{
    display: inline;
}
#footer{
    clear: both;
    font-size: 12px;
    width: auto;
    height: 60px;
    text-align:center;
    padding:10px 0 0 0;
    letter-spacing: 1px;
}